.item {
    border: 1px solid white;
      border-radius: 4px;
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 350px;
    }
    
    .infoSide {
        display: flex;
        flex-direction: column;
        gap: 5px;  
    }
    
    .infoPart {
        display: flex;
        flex-direction: row;
        align-items: center ;
        gap: 10px;  
    }